<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/skills">SKILLS</a>
    <% skills.forEach(function(s) { %>
      <li>
        <form action="/skills/<%= s.id %>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">X</button>
        </form>
    <% }); %>
  </body>
</html>
